@use '../../../variables' as *;

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: $space-md;
  padding: $space-lg;

  .todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-lg;
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: $space-md;

    h3 {
      margin: 0 0 0 $space-md;
    }
  }
}
