@use '../../../../../variables' as *;

.user-row {
  display: grid;
  grid-template-columns: 200px 200px $space-xxl 100px 100px;
  gap: $space-sm;

  .edit-user {
    grid-column: 4;
  }

  .delete-user {
    grid-column: 5;
  }

  button {
    width: 100%;
  }
}
