.sidebar {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: 100%;
  transform: translate(-100%, 0);
  transition: transform 0.5s;
  background-color: $main-color;
  z-index: 1000;

  .sidebar-toggle {
    position: absolute;
    left: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    box-shadow: $light-box-shadow;
    border-radius: 0 0 5px 0;
    z-index: 10;

    &::after {
      color: $light-color;
    }
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $main-color;
    box-shadow: $light-box-shadow;
    min-width: 200px;
    z-index: 20;
  }

  .sidebar-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
    z-index: 0;
  }

  &.closed {
    .sidebar-toggle::after {
      content: '>';
    }
  }

  &.open {
    transform: translate(0, 0);

    .sidebar-toggle::after {
      content: '<';
    }

    .sidebar-overlay {
      width: 200vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
